/* custom pdoc stylesheet */

/* dark theme */
:root { --pdoc-background: #222222; }
.pdoc {
    --text: #f7f7f7;
    --muted: #9d9d9d;
    --link: #77aaff;
    --link-hover: #00b0e4;
    --code: #333;
    --active: #555;
    --accent: #333333;
    --accent2: #555;
    --nav-hover: rgba(0, 0, 0, 0.1);
    --name: #f7f7f7;
    --def: #f7f7f7;
    --annotation: #f7f7f7;
}
.pdoc .attr { background-color: var(--pdoc-background);}
.module-info .view-source-button { background-color: var(--accent); display: block; margin: -.2rem 0 .2rem 0; }

/* GitHub ribbon */
.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 150px; height: 150px;
}
.ribbon span {
    display: block;
    position: absolute;
    top: 40px; left: -40px;
    width: 200px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color: #FFF;
    background: #79A70A;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

/* layout */
main { padding: 3rem 2rem 3rem calc(var(--sidebar-width) + 2rem); width: calc(60rem + var(--sidebar-width)); }
nav.pdoc ul > ul { margin-left: 1em; }
.pdoc { --section-top: 5rem; }
.pdoc .ref-title { margin-bottom: calc(1rem - 1 * var(--section-top)); }
.pdoc section:not(.module-info) { margin-top: var(--section-top); }
.docstring { padding-left: 2rem; }
.module-info .docstring { padding-left: 0; }
span.linenos { padding-left: 5px; padding-right: 20px; }

/* fonts */
h1.modulename { font-family: ui-monospace, "Cascadia Mono", "Consolas", monospace; font-size: 2rem; }
.pdoc .attr { font-family: ui-monospace, "Cascadia Mono", "Consolas", monospace; }
pre { font-family: ui-monospace, "Cascadia Mono", "Consolas", monospace; line-height: 125%; }
